[2020-03-17 23:16] flowhorn opened #7 "Error while trying to load an asset: Failed to load asset at "assets/packages/fast_rsa/web/assets/rsa.wasm" (404)"
I cant use this on Web because of this issue. Running latest flutter master.

[2020-03-18 12:35] jerson commented on #7
hi @flowhorn you should check example

is required to add to you pubspec.yaml

[code]
ref: https://github.com/jerson/flutter-rsa/blob/master/example/pubspec.yaml

and in you index.html
[code]
ref: https://github.com/jerson/flutter-rsa/blob/master/example/web/index.html

on these days im going to add this to readme for clarify to everyone

[2020-03-19 00:48] #7 closed

[2020-03-23 19:07] acolytec3 opened #8 "Add support for importing RSA keys in JWK format"
@jerson Any suggestions on how to get from a JWK format key file (as described [here](https://stackoverflow.com/questions/24093272/how-to-load-a-private-key-from-a-jwk-into-openssl)) to the PKCS12 format private key you're using for the PSS signer function?  I'm working on an app that needs RSA-PSS signatures and manages private keys using JWK format keys so I had to write native code for the sign

[2020-03-23 19:37] acolytec3 commented on #8
For reference, this is what I'm having to do at present.  In Dart/Flutter, take the public and private key parameters from the JWK [here](https://github.com/acolytec3/ArMob/blob/7c48450a068defe9faef0162375eb9116eba8a1c/lib/transaction.dart#L67) and then passing it to Kotlin to do the signature [here](https://github.com/acolytec3/ArMob/blob/7c48450a068defe9faef0162375eb9116eba8a1c/android/app/src/m

[2020-03-26 21:55] jerson commented on #8
hi @acolytec3 this weekend i'm going to search about that, thanks

[2020-03-27 00:36] acolytec3 commented on #8
@jerson What is the format of the pkcs12 string in the example (pfx,pem, etc)?  I tried pasting it into a certificate decoder and it wasn't recognized.  Just trying to understand what format the source string is supposed to be in so I can figure out how to get from the Java Web Key to whatever input your library uses.

[2020-03-27 00:50] acolytec3 commented on #8
@jerson So I dug into your go code a bit and I think the answer I would need is to just be able to pass in an RSA private key to the PSSSigner function.  It looks like your signer module in Go isn't using the certificate part of the PKCS12 format [anyway](https://github.com/jerson/rsa-mobile/blob/48a6ccd6184a1ae8390b0e4e8a155c2e57ccb384/rsa/sign_pss.go#L13) so any chance you could just add another

[2020-03-27 13:34] jerson commented on #8
hi @acolytec3 yes the format is pfx and maybe should i create a method for use directly with private key instead of pkcs12

[2020-03-27 13:36] acolytec3 commented on #8
I'll experiment with it today and see if I can do so. Not a go expert but
I'll try.  What's the make target on the rsa-mobile to build for Flutter?

On Fri, Mar 27, 2020 at 9:34 AM Gerson Alexander Pardo Gamez <
notifications@github.com> wrote:

[2020-03-27 14:04] jerson commented on #8
[code]

[2020-03-29 19:35] acolytec3 commented on #8
Looks like you updated this on the native code side to accept an RSA private key?  Excited to try it out once you merge that change here as it solves a huge pain point for the app I'm working on.  Thanks!

[2020-03-30 03:08] jerson commented on #8
hi @acolytec3 could you try with 1.0.0 version there are a lot of changes but i think that now is more stable API

https://pub.dev/packages/fast_rsa/versions/1.0.0

[2020-03-30 13:04] acolytec3 commented on #8
Will do. Just pulled it into my app and will let you know if the sign function works as expected.

[2020-03-30 18:30] acolytec3 commented on #8
I've tried using and  while it does compile, it's not producing the correct signatures.  It looks like the RSA private key its generating from my jwk is different than the one that is produced by Kotlin (which is how I'm doing RSA-PSS signing today so not sure what to make of that.

[2020-03-30 21:32] jerson commented on #8
hi @acolytec3 maybe you should use

RSASaltLength.equalsHash instead of RSASaltLength.auto

[2020-03-31 00:15] acolytec3 commented on #8
I believe the root of the issue is the way the private key is being generated.   I printed the private key generated by the kotlin code and it does not match the private key generated by `rsa-mobile`.  Is the `keyID` field of any importance?

[2020-03-31 00:38] jerson commented on #8
keyID is optional just is for select a custom JWK

[2020-03-31 00:50] jerson commented on #8
can you share a JWK for create a test on rsa-mobile and the expected output

[2020-03-31 01:25] acolytec3 commented on #8
https://gist.github.com/acolytec3/c327b1211f3b25d65272fb1f842cec99

The input string is a base64Url encoded string.

My Kotlin code is using a byteArray so I have to encode the string to be signed using `base64Url.encode` to make it equivalent to what I pass to your `signPSS` method.

[2020-03-31 04:27] jerson commented on #8
remember that PSS always generates different signed code unlike PKCS1v15

[2020-03-31 04:45] jerson commented on #8
and you should  use base64 instead of base64Url because we only support base64

[2020-03-31 04:53] jerson commented on #8
and for you sign method you are using  **ByteArray**

`call.argument<ByteArray>("rawTransaction")`

and the library only support string, that means that before sign you should convert to base64

[2020-03-31 04:55] jerson commented on #8
check this test for more details

https://github.com/jerson/rsa-mobile/commit/78e208116195f2a2b00715c60ce38c4e8461a5a7

[2020-03-31 11:18] acolytec3 commented on #8
I'm not sure what to tell you but it's not producing correct results for me.  I need to use RSA PSS signatures for signing blockchain transactions for my app and transactions signed with your package unfortunately are getting rejected with an error of `transaction verification failed` where as they are accepted using the kotlin method I referenced above.  Here's the code where I'm trying to use yo

[2020-03-31 13:41] jerson commented on #8
you signature is generated using ByteArray, here you should convert to base64 and then to bytearray again before sign too, check this line, https://github.com/acolytec3/ArMob/blob/fast_rsa/android/app/src/main/kotlin/com/example/arweave/MainActivity.kt#L17

[2020-03-31 14:04] acolytec3 commented on #8
I don't think that's the solution.  My existing kotlin code produces signatures that are accepted by the blockchain node and this blockchain works with base64URL encoded strings and not base64.  I would have to re-engineer large sections of code to work with base64 and I already know that base64 encoded strings are rejected by the blockchain and I'm guessing that something is getting lost or added

[2020-04-05 02:07] acolytec3 commented on #8
I've been working on a fork of your rsa-mobile repo that uses a bytesArray but having trouble getting it to work with my local fork of `flutter-rsa`.  This [commit](https://github.com/acolytec3/rsa-mobile/commit/57e06bcbad5a98935228a3d7e14060ed0fe23d36) compiles and I've updated the corresponding code elements in flutter-rsa in a local fork but the plugin won't build when I pull it into my app.  I

[2020-04-05 02:29] jerson commented on #8
hi @acolytec3 thank you im gonna check and maybe i was thinking in have a last argument with option for choose use base64 or bytes since gomobile dont support byte array as i know

[2020-04-11 18:00] acolytec3 commented on #8
Just checking back in on this. Have you had any luck? [This](https://medium.com/flutter-community/using-go-library-in-flutter-a04e3496aa05) seems to indicate byte slices are available in Go mobile so seems like it should work.

[2020-04-12 14:47] jerson commented on #8
great, I didn't know, implement the feature these days

[2020-04-12 23:00] jerson commented on #8
hi @acolytec3 could you try with 1.0.1 version, there are new Bytes Methods

https://pub.dev/packages/fast_rsa/versions/1.0.1

[code]

[2020-04-12 23:43] acolytec3 commented on #8
I'm getting the below error when I try to compile now.  Any idea what this means?  I blew away my repo and pulled it fresh from github and added `fast_rsa` and it's still throwing this error.
[code]

[2020-04-12 23:54] acolytec3 commented on #8
Thank you for doing this.  Unfortunately, initial attempts produced the same result as before with both `SaltLength.auto` and `SaltLength.equalsHash` where the signed transactions are rejected by the node.  I'll do some more experimenting the next day or two and see if there's anything else that jumps out at me.

[2020-04-13 00:00] jerson commented on #8
Hi, please test with this comment
https://github.com/acolytec3/ArMob/commit/2fbb7f3abfa02a230123a85d295de1c502a133e6#r38450011

[2020-04-13 00:00] jerson commented on #8
cc @acolytec3

[2020-04-13 10:12] acolytec3 commented on #8
Tested and still failing.  When I sign and then use `verifyPSSBytes` as [here[(https://github.com/acolytec3/ArMob/compare/fast_rsa#diff-43ab103811e503422c14be92b21bec5eR83), flutter throws an error
`Platform error occurred: PlatformException(error, x509: unknown format, null)`.  Is it possible your `convertJWKtoPrivateKey` conversion method isn't working right?

There's a Go implementation of the

[2020-04-14 17:58] acolytec3 commented on #8
Another follow-up here.  Just for fun, I ran the [`jwk-to-pem`](https://runkit.com/embed/spqpspj8xc9b/) method on the example jwk you used and it seems to generate a different PEM format private key than what `rsa-mobile` produces.  Below is the private key generated by your `convertJWKToPrivateKey` method:
[code]

[2020-04-16 14:56] acolytec3 commented on #8
FYI here - thanks for trying to resolve my particular issue but I've ended up building my own RSA-PSS signer in Go that works for my particular use case.  [Here](https://github.com/acolytec3/gomobile_pss_signer) it is for reference if you want to see what I did.  I'll close this issue for now.

[2020-04-16 14:56] #8 closed

[2020-06-07 15:23] KeithMorning opened #9 "How can we know the length of the key?"
Great flutter RSA library! I have a question may be stupid... how can we know the length(128Bytes or 256Bytes) of the private key or public key? I didn't find this api in the library...

[2020-06-07 15:33] jerson commented on #9
HI @KeithMorning at this moment there is no method to obtain the information of the keys, I think it would be useful a method like this, I will investigate about it to see how it can be implemented in these days

note: if you create a key using the Generate method you'll know that value but it's probably not what you need

[2020-06-18 15:29] Zrufy opened #10 "warning: [deprecation] getFlutterEngine() in FlutterPluginBinding has been deprecated"
Hi i have this error when i'm building my app with flutter for android.Have you any solution?

[2020-06-18 15:36] jerson commented on #10
Hi @Zrufy thanks, I think it's an alert and I don't know if that will stop me from compiling, but I think it's something that can be corrected, in a few hours when I have free time I will investigate the solution

[2020-06-18 15:38] Zrufy commented on #10
Thanks to you for this library it has facilitated me a lot.

[2020-06-18 23:48] jerson commented on #10
hi @Zrufy please can you test with latest version

https://pub.dev/packages/fast_rsa/versions/1.1.4

[2020-06-19 08:17] Zrufy commented on #10
I tried to build and it didn't give me any errors for now so thank you. In case I keep you updated. What kind of error was it?

[2020-06-19 12:24] jerson commented on #10
was a warning this line about deprecated syntax

https://github.com/jerson/flutter-rsa/blob/master/android/src/main/java/dev/jerson/rsa/RsaPlugin.java#L56

by now i think is ok close this issue but feel free to reopen if you have some additional info

[2020-06-19 12:24] #10 closed

[2020-11-17 03:35] ares-arman opened #11 "Execution failed for task ':fast_rsa:bundleDebugAar'."
Hi.
I have a problem with installing.
Can you help ?

* What went wrong:
Execution failed for task ':fast_rsa:bundleDebugAar'.

[2020-11-17 03:57] jerson commented on #11
hi @ares-arman thank you for report the issue, please can you try with latest rc version

https://pub.dev/packages/fast_rsa/versions/1.2.0-rc1

[2020-11-25 11:25] #11 closed

[2020-12-05 10:27] ares-arman opened #12 "how read p12 file to this method ? RSA.convertPKCS12ToKeyPair"

[2020-12-05 13:47] jerson commented on #12
hi @ares-arman thanks for the question, you can check our example on
https://github.com/jerson/flutter-rsa/blob/master/example/lib/main.dart

but its like this
[code]

[2021-01-16 08:59] dbviewer-zigen opened #13 "decrypting with an invalid private key caused a panic and the app crashed."
Hello

I am making an application that encrypts and decrypts using fast rsa.
but, decrypting with an invalid private key caused a panic and the app crashed.
I want to handle it as an exception when I specify an invalid private key.

[code]

enviroment

* Android Studio 3.6.3
* Flutter 1.22.4
* Dart 2.10.4
* fast rsa 1.3.2    (fast_rsa: ^1.3.2)

E/Go      ( 5587): panic: runtime error: invalid memo

[2021-02-01 11:35] nilsreichardt opened #14 "Migrate to null safety"
## Description
I think all dependencies are migrated to null safety. So we can migrate this packages as well.

## Resources
* [How to migrate Dart packages to null safety](https://youtu.be/eBr5tlumwlg)
* [Announcing Dart null safety beta](https://medium.com/dartlang/announcing-dart-null-safety-beta-87610fee6730)

[2021-02-01 14:21] jerson commented on #14
hi @nilsreichardt thanks for that, im going to start upgrading this week

[2021-02-01 14:23] jerson commented on #13
hi @dbviewer-zigen thanks for report the issue, have you tried using try catch ? or doesnt work ?

[2021-02-04 23:05] dbviewer-zigen commented on #13
hi jerson,

Unfortunately , The same problem occurs when I used try-catch.

Could you verify it with the code below?

[code]

Launching lib/main.dart on sdk gphone x86 in debug mode...
Running Gradle task 'assembleDebug'...
✓ Built build/app/outputs/flutter-apk/app-debug.apk.
Installing build/app/outputs/flutter-apk/app.apk...
Waiting for sdk gphone x86 to report its views...
Debug service listeni

[2021-02-05 03:22] jerson commented on #13
hi @dbviewer-zigen thanks for that, yeah im going to reproduce here i think is related to go so probably will be fixed soon

[2021-02-05 04:01] jerson commented on #13
@dbviewer-zigen good news i found the issue and now is fixed, please help me to test and check that now is working

https://pub.dev/packages/fast_rsa/versions/1.3.3

[2021-02-05 21:55] dbviewer-zigen commented on #13
@jerson

I have confirmed that the problem has been resolved.

Thank you for your support!!

[2021-02-05 23:45] jerson commented on #13
yeah @dbviewer-zigen we can improve this in the future, probably is only change this line

https://github.com/jerson/flutter-rsa/blob/master/lib/bridge/binding.dart#L85

[2021-02-05 23:45] #13 closed

[2021-02-07 02:02] jerson commented on #14
initial version released: https://pub.dev/packages/fast_rsa/versions/1.4.0-nullsafety.1

there are some deprecations but for now im going to close this ticket, so in the future we can improve support

[2021-02-07 02:02] #14 closed

[2021-02-07 23:58] jerson commented on #13
also added custom `RSAException` in https://pub.dev/packages/fast_rsa/versions/1.3.5

[2021-02-08 02:03] #12 closed

[2021-05-06 10:04] bottee opened #16 "Unable to load asset on iOS"
If I try to run my debug flutter application on my device, I get following error on iOS:

`Caught error: Unable to load asset: /private/var/containers/Bundle/Application/E8B1597B-8CCB-4A34-B147-48E683C039C9/Runner.app/assets/locale/locale_de.json`

If I remove the entry

`fast_rsa: ^1.3.6`

from my `pubspec.yaml` and all related source code  everything works fine. On Android Fast RSA works without

[2021-05-06 14:54] jerson commented on #16
hi @bottee thanks for report the issue, sound a bit weird but can be related, if you are using null safety can you try with latest version please?
https://pub.dev/packages/fast_rsa/versions/2.0.0-nullsafety.0

can you post the content of this locale file please?

[2021-05-07 08:06] bottee commented on #16
Hi @jerson,

thank you very much for the fast response 👍

I tried to understand the problem more and I found the reason. For testing my application I need a changed prefix for loading strings from assets. To determine if I'm testing I used `Directory.current.path`. It seems that your plug-in changes the current directory away from `'/'`.

Now I use `Platform.environment.containsKey('FLUTTER_TEST')

[2021-05-20 04:26] #16 closed

[2021-06-15 03:13] nicktan28 opened #17 "How to Encrypt by private_key and Decrypt by public_key?"

[2021-08-19 03:04] ZacharieAzoulai opened #19 "[iOS] .RSA.generate Not working when published on TestFlight"
Hi

I've been using this package for a month now and had no issue with it but yesterday when I pushed my app on Testflight, the app was working as expected,

I get this error: `'dart.core_ArgumentError_toString (kind RegularFunction)' is accessed through Dart C API without being marked as an entry point; its tree-shaken signature cannot be verified.
WARNING: See https://github.com/dart-lang/sdk/bl

[2021-08-19 03:17] jerson commented on #19
Hi @ZacharieAzoulai thanks for report the issue, im gonna try to reproduce it here in order to fix this issue

[2021-08-19 03:26] jerson commented on #19
@ZacharieAzoulai  which version are you using ?

[2021-08-19 03:27] ZacharieAzoulai commented on #19
I'm using the version 3.0.0

[2021-08-19 03:29] jerson commented on #19
could you try with the previous one please https://pub.dev/packages/fast_rsa/versions/2.0.1

[2021-08-19 04:07] jerson commented on #19
in addition to this, i tested on android release and profile mode and works for me but tomorrow i will take some time to test on ios profile and testflight

[2021-08-19 04:08] ZacharieAzoulai commented on #19
I didn't test on android but on IOS it still doesn't work with the version 2.0.1

Thanks for your help !

[2021-08-19 17:56] ZacharieAzoulai commented on #19
I had another error when changing to stable (I'm not sure if it's the reason) but it was also when calling `RSA.generate(2048)`

`[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: type 'List<dynamic>' is not a subtype of type 'FutureOr<Uint8List>?'
#0      Binding.callAsync.<anonymous closure> (package:fast_rsa/bridge/binding.dart:49)
<asynchronous suspension>
`

Maybe it can help

[2021-08-19 19:01] ZacharieAzoulai commented on #19
And when I display the first element of the List<dynamic> I got `Invalid argument(s): Failed to lookup symbol (dlsym(RTLD_DEFAULT, RSABridgeCall): symbol not found)`

[2021-08-19 19:51] jerson commented on #19
seems like librsa_bridge.a was nor loaded properly, i tested on ios, using profile also using an adhoc release, and seems works, im using beta channel with this example project https://github.com/jerson/flutter-rsa/tree/master/example

can you share more details about for example flutter version, also if are you using bitcode, also ios target version

about this warning:  Unhandled Exception: type

[2021-08-19 21:12] ZacharieAzoulai commented on #19
Here is my `flutter doctor -v` output:

[✓] Flutter (Channel stable, 2.2.3, on macOS 11.4 20F71 darwin-arm, locale en-GB)
    • Flutter version 2.2.3 at /Users/zhack013/bin/flutter
    • Framework revision f4abaa0735 (7 weeks ago), 2021-07-01 12:46:11 -0700
    • Engine revision 241c87ad80
    • Dart version 2.13.4

[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)

[2021-08-20 01:48] jerson commented on #19
here is my  flutter doctor -v , i havent tested before in darwin-arm im not sure if its related to this issue
[code]

[2021-08-22 16:37] ZacharieAzoulai commented on #19
So how did you make it work on your Mac ?

[2021-08-22 17:29] jerson commented on #19
mm for me just works without any additional change in(profile, and release mode android and ios) using this example https://github.com/jerson/flutter-rsa/tree/master/example, tested using stable, and beta channels, maybe im testing in a wrong way, but for profile im using

flutter run --profile

and for release im using xcode archive and then export using adhoc provision profile

have you tested u

[2021-08-22 17:31] ZacharieAzoulai commented on #19
I'll test with this example and if it works with it and not my project I'll give you an example project

[2021-08-22 19:39] ZacharieAzoulai commented on #19
So it works with your example but not with my project, could be the fact that I'm using the flutter sdk `sdk: ">=2.7.0 <3.0.0"` ??

Does your package requires non-null safety ? or everything above 2.12 ?

[2021-08-23 01:07] jerson commented on #19
I migrated to null-safety from 2.0.1 so you can try with an older version like

1.3.6 or below (but since is an older version im not sure if still works)

[2021-09-07 10:12] SinoMiles opened #20 "any example about long text decryptPKCS1v15"
any example about long text decryptPKCS1v15

[2021-09-14 07:09] okta2510 opened #21 "worker issue after flutter web build"
build/web/assets/packages/fast_rsa/web/assets/worker.js

worker.js:55 Uncaught (in promise) TypeError: Failed to execute 'compile' on 'WebAssembly': Incorrect response MIME type. Expected 'application/wasm'.
![Screenshot 2021-09-14 at 14 06 06](https://user-images.githubusercontent.com/4715230/133211685-1e7dc3fa-b172-4b9f-a203-e16eaa1e2d8c.png)

[2021-09-14 13:54] jerson commented on #21
Hi @okta2510 thanks for you question, this error is because you need to set an extra mine type in your web server, for example if you are using nginx is something like this

[code]
file: https://github.com/jerson/flutter-rsa/blob/master/example/docker/nginx.conf

or in nodejs
[code]
file: https://github.com/jerson/rsa-mobile/blob/protobuf/wasm/sample/server.js

BTW we have a running example in htt

[2021-09-15 03:05] okta2510 commented on #21
hi thx for your response ya lately I figure it out, thanks for explaination

[2021-09-15 13:20] #21 closed

[2021-09-18 20:18] ZacharieAzoulai opened #22 "clang: error: no such file or directory: .../ios/.symlinks/plugins/fast_rsa/iOS/librsa_bridge.a"
Hi,

I just updated from version 3.0.0 to version 3.0.2 and when I try to run my app it fails

`Ld /Users/zhack013/Library/Developer/Xcode/DerivedData/Runner-drdfnjevxzlztjhfrpamxswjnzqu/Build/Products/Debug-iphoneos/Runner.app/Runner normal (in target 'Runner' from project 'Runner')
    cd /Users/zhack013/Library/Mobile\ Documents/com\~apple\~CloudDocs/Workspace/Perso/Missions/KISAPP/Code/kisapp/

[2021-09-19 01:07] jerson commented on #22
Hi @ZacharieAzoulai thanks for report the issue, seems like a path issue in cocoapods, please for now use 3.0.0 im gonna research to find a good solution

[2021-09-19 06:54] ZacharieAzoulai commented on #19
Hi,

I know it's been a while, I figured it out that it worked for the `RSA.generated(2048)` but now it doesn't work with `await RSA.decryptPKCS1v15`, still on version 3.0.0 and I can't test on newer version because of the path bug...

[2021-09-19 13:32] jerson commented on #22
Hi @ZacharieAzoulai could help me to test with https://pub.dev/packages/fast_rsa/versions/3.0.3 version please, path issue was fixed at least on my local tests

[2021-09-21 02:13] seanhann opened #23 "The RSA sign can not be verified by other language"
I did a RSA.signPKCS1v15Bytes signature by fast_rsa, it can be verified by nodejs. But same nodejs logic could verify the java signature.

[2021-09-22 01:27] jerson commented on #23
hey @seanhann thanks for report the issue, can you share a code example to try to reproduce it here please

[2021-09-22 01:38] seanhann commented on #23
Use fast_rsa generated the signature like following:
[code]

And nodejs verified it like(following code works for java generated signature):
[code]

[2021-09-22 06:04] ZacharieAzoulai commented on #22
Hi @jerson, it worked !

[2021-09-22 13:40] #22 closed

[2021-09-22 17:35] jerson commented on #19
Hi @ZacharieAzoulai  since https://github.com/jerson/flutter-rsa/issues/22 was closed, this seems related, is this fixed for you too? or is still an issue?

[2021-09-22 17:39] ZacharieAzoulai commented on #19
Hi @jerson, it wasn't related to it, but the only way I could fix this error was by commenting all the code and removing all my pub dependencies and uncommenting widget by widget and adding dependencies, one at a time, but I didn't found reason of this issue

I think there is like a compatibility between your packages and a mysterious one but sorry I don't know which one, the weird thing was that

[2021-11-17 09:10] maltemedocs opened #24 "Expected format for private/public key?"
In RSA.decryptOAEP and encryptOAEP, the key type is just `String`. But what is the expected format for those keys, or are there multiple options?

Context: I do have a private key created with a different library for tests, that is available to me as a single-line pem string, with begin-end block as in PKCS#8. I now see no way to use that key with fast_rsa without additional helpers, and do wonder

[2021-11-30 01:22] jerson commented on #24
Hi @maltemedocs thanks for report the issue, this library use String for keys, you can check our examples here
https://github.com/jerson/flutter-rsa/tree/master/example/lib

and for private key we support PKCS1PrivateKey and PKCS8PrivateKey in PEM
ref: https://github.com/jerson/rsa-mobile/blob/fce7f4cb9b7b7faa8ca4c008a6df23ad64cc5334/rsa/common.go#L13

if you have a code example would be great to

[2021-11-30 01:23] jerson commented on #20
we have examples here https://github.com/jerson/flutter-rsa/tree/master/example/lib please take a look

[2021-11-30 01:24] jerson commented on #17
please check our examples https://github.com/jerson/flutter-rsa/tree/master/example/lib

[2021-11-30 01:24] #17 closed

[2021-11-30 01:26] #20 closed

[2021-11-30 08:17] maltemedocs commented on #24
Thanks for clearing this up! It would be awesome if that could be documented officially, like in the readme. I checked the examples and got not clear answer from them :)

But then this should've worked. I guess that the MFG1 sha1/sha256 mismatch pointycastle runs into might be the core issue here as well? This is the example code:

[code]

The cipher and the key are created with webcrypto, OAEP-SH

[2021-11-30 14:13] maltemedocs commented on #24
`decryptOAEP` with `fast_rsa.Hash.SHA256` will use SHA256 as MFG1? Then that indeed should work and would be very helpful to know.

[2021-11-30 15:04] maltemedocs commented on #24
I can confirm this now. To sum it up:

 1. fast_rsa is compatible with PEM PKCS#8, but it has to be multiline, not single-line
 2. fast_rsa is **not compatible** with the PEM PKCS#1 that the `RsaKeyHelper` of rsa_encrypt produces.
 3. fast_rsa is compatible with the webcrypto RSA OEAP mode, as it uses sha-256 as the MFG1, unlike pointycastle's hardcoded sha1. This means it is a valid solution, alb

[2021-11-30 16:12] #24 closed

[2021-12-06 13:34] dev-whoan opened #25 "dlopen failed: library "/data/data/myApp/lib/librsa_bridge.so" not found"
Hello, I'm having trouble with using fast_rsa.

I'm testing it on Android API 31, and the code is:

[code]

And the error is :
[code]

And the dependency:
[code]

Can I get some help?

Thanks.

[2021-12-06 13:37] jerson commented on #25
Hi @dev-whoan thanks for report the issue, im gonna test in android 31 with a new project

[2021-12-06 13:38] dev-whoan commented on #25
@jerson Thank you for your fast feed back :)

[2021-12-06 19:48] jerson commented on #25
Hi again, I just tested on a new project with AndroidAPI31 and works well, have you tried with a new project also ?

[2021-12-07 03:12] dev-whoan commented on #25
Hi @jerson,

I was tested it with Apple M1, and created new project and new AVDs with Andoird API 31 and Android 31 API (Google-API) but still have the problem.

So I just tested it on Windows, and it works.

[2021-12-07 03:19] jerson commented on #25
oh I see I dont have an M1, but maybe is related with the M1 arch, you emulator which arch has ? armv8 or x86

[2021-12-07 03:20] dev-whoan commented on #25
@jerson I use armv8

[2021-12-07 03:25] jerson commented on #25
also have you tested with older emulator API like 30 or 29?

[2021-12-07 03:50] dev-whoan commented on #25
@jerson I tested API 26~30, those versions works well.

I felt something weird, so I reinstalled my Android SDK, still same...... I think it is not the problem of the `fast_rsa`, but mine.

I will try to find the problem, and if I figure it out, I will tell you.

[2021-12-07 03:50] #25 closed

[2021-12-07 20:10] TicketMarketTecnologia opened #26 "Error in Flutter Web, Asset Problem"
I'm getting an error while using FAST_RSA with Flutter Web. In the Android version works normally. I checked the Console for this  error. I was trying using in Debug mode with Chrome.
![625a001a-3c08-4fdc-9de7-5a996dae8bab](https://user-images.githubusercontent.com/62756995/145098980-506ea009-e100-44d0-8605-383ac6b04001.jpg)
r.

[2021-12-08 01:54] jerson commented on #26
hi @TicketMarketTecnologia have you added those assets to you deps

add to you `pubspec.yaml`

[code]

ref: https://github.com/jerson/flutter-rsa/blob/master/example/pubspec.yaml
please read more in: https://github.com/jerson/flutter-rsa#web

[2021-12-17 16:28] patachi opened #27 "Using generated public key in golang"
**Background :**

For RSA private key & public key **PKCS1**, **PKCS8** & **PKCS1**, **PKIX** formats are available.
**PKCS1** format is _primarily only_ used for the RSA algorithm and they have different headers.

private key **PKCS1** format header : `-----BEGIN RSA PRIVATE KEY-----`
private key **PKCS8** format header : `-----BEGIN PRIVATE KEY-----`

public key **PKCS1** format header : `-----B

[2021-12-17 22:08] jerson commented on #27
Hi @patachi thanks for report the issue, I didnt know that, based on what you said we should update headed based on type, im gonna update in rsa-mobile this weekend
https://github.com/jerson/rsa-mobile/blob/64cc9c47a72469260ab7a0ff6f0fa6d0efca0732/rsa/codec.go#L151

[2021-12-18 08:09] patachi commented on #27
Yes, the lines [145](https://github.com/jerson/rsa-mobile/blob/64cc9c47a72469260ab7a0ff6f0fa6d0efca0732/rsa/codec.go#L145) & [178](https://github.com/jerson/rsa-mobile/blob/64cc9c47a72469260ab7a0ff6f0fa6d0efca0732/rsa/codec.go#L178) should change based on `formatType`.

And also I recommend using `pem.Encode` instead of `pem.EncodeToMemory` (line [143](https://github.com/jerson/rsa-mobile/blob/64c

[2021-12-18 14:19] #26 closed

[2021-12-18 15:05] jerson commented on #27
Hey @patachi I just released a new version with the fix please take a look

https://pub.dev/packages/fast_rsa/versions/3.2.0

here is the commit for reference: https://github.com/jerson/rsa-mobile/commit/18c4c418b73e8f3a609aadd14ca7f1ac81b872e9

[2021-12-18 16:23] patachi commented on #27
Thanks, great job. probably #19 & #23  Issues have been fixed by this patch too.

[2021-12-18 17:39] patachi commented on #9
In most programming languages, the `PrivateKey` and `PublicKey` entity (class, struct, whatever it's called) usually have `Size` or `Length` property/field or something similar.

the key length can be either shown in **bit**(**2048**) or in **Byte**(2048/8 = **256**)

the max length of the data that can be encrypted is calculated like this (all sizes are in **Byte**) :

max lenght for `PKCS1v15 =

[2021-12-18 18:52] #27 closed

[2021-12-18 19:07] jerson commented on #9
Hi @patachi thanks for that, currently this method is implemented in rsa-mobile so we only need to include in flatbuffers and in dart
https://github.com/jerson/rsa-mobile/blob/master/rsa/metadata.go

[2021-12-18 19:39] patachi opened #28 "Decrypting binary inputs"
The problem appeared when trying to encrypt the random `[]byte` array in Golang and decrypt it in dart/flutter.

[code]

trying to decrypt the result of this code snippet in dart/flutter may lead to an exception.

It only occurs for binary inputs and it was totally fine with text inputs.
I have no idea where the root of the problem is but it may be related to some low-level layers.

As a workaroun

[2021-12-21 17:18] eli1stark opened #29 "Execution failed for task ':fast_rsa:compileReleaseKotlin'."
My CI suddenly started to fail with this message: `Execution failed for task ':fast_rsa:compileReleaseKotlin'` when building for Android. (`flutter build apk`)
It's weird because I can't reproduce it locally on my machine.
I have:
flutter: 2.8.1
dart: ">=2.15.0 <3.0.0"
fast_rsa: ^3.2.0

[2021-12-22 11:43] eli1stark commented on #29
I solved the issue by clearing Codemagic's build cache. But I don't know for how long it will last.
Maybe it's somehow related to failed checks: https://github.com/jerson/flutter-rsa/runs/4569910912?check_suite_focus=true

[2021-12-24 17:33] #29 closed

[2021-12-28 18:43] VovaMedvediev opened #30 "module 'fast_rsa' not found @import fast_rsa; on Mac with M1 chip"
Hi!

I can't build iOS project on Mac with M1 chip - GeneratedPluginRegistrant.m:24:9: fatal error: module 'fast_rsa' not found @import fast_rsa;

On the previous laptop with Intel Chip everything was ok.

Commenting fast_rsa plugin resolves the issue... But I need this plugin to use :)

If any info should be provided - please let me know

[2022-01-04 03:08] jerson commented on #30
Hi @VovaMedvediev thanks for report this issue, could you provide me info about which versions are you using, flutter, fast_rsa and a `flutter doctor` output

[2022-01-04 13:32] VovaMedvediev commented on #30
@jerson
fast_rsa: ^3.2.0

Flutter 2.8.0 • channel stable • https://github.com/flutter/flutter.git
Framework • revision cf44000065 (4 weeks ago) • 2021-12-08 14:06:50 -0800
Engine • revision 40a99c5951
Tools • Dart 2.15.0

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.8.0, on macOS 12.1 21C52 darwin-arm, locale en-UA)
[✓] Android toolchain - develop for

[2022-01-24 03:23] Zheyuan-Robert-Xu commented on #30
Hi @jerson,
I have the similar error in using fast_rsa: ^3.1.0 in Mac M1.
And the Doctor summary.
[✓] Flutter (Channel stable, 2.8.1, on macOS 12.1 21C52 darwin-arm, locale en-AU)
    • Flutter version 2.8.1 at /Users/user/Documents/software/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 77d935af4d (5 weeks ago), 2021-12-16 08:37:33 -0800
    • En

[2022-01-24 23:34] jerson commented on #30
Hi, thanks for report the issue, Seems like is an issue related with M1 arch, so im gonna try building binaries for apple m1, probably it will take a while since i need to run a cloud Mac M1 in order to test

[2022-01-24 23:35] jerson commented on #28
mmm interesting, have you tried using bytes method instead, like encryptOAEPBytes

[2022-01-24 23:56] Zheyuan-Robert-Xu commented on #30
Thanks for your contribution.

[2022-01-26 04:11] tjcampanella opened #31 "Seed Key Generator?"
Is there anyway to seed the RSA key generator? I am looking to seed it to produce the same key pair based on a hashed password. Is there anyway to do that with this package? The reason is I need a way for users to be able to generate the same key pair on multiple devices without having to share it explicitly. My idea being when they sign in on a new device I can generate their keypair based on the

[2022-02-04 20:13] jerson commented on #30
Hi @Zheyuan-Robert-Xu im testing on M1 and is working with this new release https://pub.dev/packages/fast_rsa/versions/3.3.0

could you help me to confirm that please

to run in simulator im using

`flutter run `

and for build im using xcode
`Xcode / product / archive `

![remmina_macOSScaleway_51 159 120 23_20220204-200556](https://user-images.githubusercontent.com/325780/152596894-aac0ed3a-4188

[2022-02-04 20:49] jerson commented on #31
Hi, about your question, I am not sure but it seems to me that there is no way to do that, maybe what you need is openpgp and use symmetric encryption.

please see https://github.com/jerson/flutter-openpgp

[2022-02-04 20:50] jerson commented on #23
@seanhann  please try again with latest version we fixed that before

[2022-02-04 20:50] #23 closed

[2022-02-06 00:24] Zheyuan-Robert-Xu commented on #30
Thanks @jerson , it works now. And the desktop app can work with macos M1.

[2022-02-06 01:07] #30 closed

[2022-02-14 12:07] cwangfr opened #33 "infinity waiting when rsa sign"
Hi, I have a strange problem here. When I use the RSA SignPSS feature, there is an infinite wait.
I use Android Studio, use usb cable connect with my Samsung Tab7.
If I start program on device, keep usb cable connect, the function always ok,
but, when I start program, and then disconnect the usb cable, the signPSS could not return result.
here is my code :

    final _pkcs12KeyPair = await RSA.con

[2022-02-22 14:32] maltemedocs opened #35 "Performance issue in profile mode"
Hi, this is just a heads up. When running Fast RSA in profile mode, that is profile mode started from the IDE, the performance of RSA encrypt and decrypt operations is abysmal compared to its regular profile/release mode performance. This is not a bug in Fast RSA, but a bug in flutter/Dart and its VS Code integration, reported and confirmed in https://github.com/Dart-Code/Dart-Code/issues/3838. It

[2022-02-22 15:55] jerson commented on #35
Hi @maltemedocs thanks for report the issue, I wasn't aware of the problem, but I'll take a closer look, in this library we are using FFI and Isolate.spawn so it may have something to do with it.

[2022-02-22 17:13] DanTup commented on #35
The issue wasn't strictly that the code was running more slowly, the issue was that new isolates were spawned _paused_ and had to be unpaused by the debugger. This introduced a small delay which makes things look slower (at least for some ways of timing - the CPU Profiler would probably not be fooled).

The issue is fixed for the next release of the Dart extension for VS Code (and is available in

[2022-02-22 18:19] #35 closed

[2022-04-14 14:34] sils opened #36 "Encryption fails on Safari"
Hey,

we use this in our app and it works great in web and mobile - except on Safari (mobile and desktop).

Here's a screenshot of the respective error in the JS console:

![image](https://user-images.githubusercontent.com/5716520/163412721-e8ad675d-ee60-4a9e-b8dc-a7470bcf7ebe.png)

In our code we're essentially doing this:

`return await RSA.encryptPKCS1v15(message, publicKey);`

[2022-04-15 10:09] sils commented on #36
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/instantiateStreaming it seems this is supported by safari 15 upwards which only got released half a year ago, checking with our testers. Seems safari users are just a little old fashioned... yet they are likely a not too insignificant portion of the mobile userbase.

I wonder if there's a way to make it ba

[2022-04-16 17:37] jerson commented on #36
Hey @sils thanks for report the issue, I think i can replace instantiateStreaming using

[code]

let me run some tests here and then we will be supporting from Safari 11

[2022-04-16 17:53] jerson commented on #36
Update: Please try this new version https://pub.dev/packages/fast_rsa/versions/3.4.7

main changes https://github.com/jerson/flutter-rsa/commit/65620f5e55317880a7521400a5f7964347284ef1#diff-2fdc69bca430e9590568563c103bfc3a1b1460a46c7eaefc51c8cd3fe7cd6881R5-R57

[2022-04-23 15:44] jerson commented on #36
@sils any news on this, did you already tested ?

[2022-04-26 07:37] sils commented on #36
Yep, this works!

[2022-04-26 07:37] #36 closed

[2022-04-26 13:43] Davete0302 commented on #25
Hi this issue still open

[2022-05-17 21:38] nilsreichardt opened #37 "`Execution failed for task ':fast_rsa:stripReleaseDebugSymbols'` when building for Android"
## Description
We have the problem that we can't build anymore for our CI. When we try to build with Codemagic or GitHub Actions, we get this error:

[code]

GitHub Actions logs:
* https://github.com/SharezoneApp/sharezone-app/runs/6477977081?check_suite_focus=true

Source code of our app: https://github.com/SharezoneApp/sharezone-app

We are using version `3.4.7` of `fast_rsa` and `2.10.5` of Flu

[2022-05-17 22:36] jerson commented on #37
HI @nilsreichardt could you try  updading subosito/flutter-action action, seems related to that

subosito/flutter-action@v1

to

subosito/flutter-action@main

[2022-05-18 08:34] nilsreichardt commented on #37
Thanks for the quick response, @jerson.

Unfortunately, it's still failing:
* https://github.com/SharezoneApp/sharezone-app/runs/6485434158?check_suite_focus=true (using `macos-latest`)
* https://github.com/SharezoneApp/sharezone-app/runs/6485664315?check_suite_focus=true (using `ubunto-latest`)
* https://codemagic.io/app/6274fcfc87c748ce531c7376/build/6283fe3707752f8a7597ac0a (using M1 Mac Mini)

[2022-05-18 12:21] #37 closed

[2022-06-14 06:27] MahdiKaseAtashin opened #38 "sign pre-hashed data"
Hi, I want to sign some hashed data, but the corresponding function of the fast_rsa hash it by force. My problem is that I need to sign pre-hashed data. I think it would be a great idea if the signing pre-hashed data feature were added to the library (like NONEwithRSA in java).

[2022-06-26 20:15] j3g opened #39 "support for binary key import/export"
I appreciate having another RSA library available :)
I was surprised at the focus with keys being in a string format. The other crypto libraries i'm familiar with default to binary keys. Does your underlying native code support binary? Maybe i'll contribute and do a pull request.

[2022-07-19 16:18] Genora51 opened #40 "[Bug] DLL load fails in unit test"
In my flutter app I have unit tests which call into `fast_rsa`. However, the tests fail to load `librsa_bridge.dll`.

### Example: `rsa_test.dart`
[code]
### Error:

    Invalid argument(s): Failed to load dynamic library 'librsa_bridge.dll': error code 126
    dart:ffi                                     new DynamicLibrary.open
    package:fast_rsa/bridge/binding.dart 119:33  Binding.openLib

[2022-07-20 15:09] jerson commented on #40
Hi, yeah currently RSA can only be tested in integration tests, see examples: https://github.com/jerson/flutter-rsa/blob/master/example/integration_test/app_test.dart

[2022-07-20 15:14] jerson commented on #40
or if you are using windows you can copy .dll from ( https://github.com/jerson/flutter-rsa/tree/master/windows/shared) to system32 windows and will be installed in your device, not sure if will work, but it can be an option

[2022-07-21 18:54] #40 closed

[2022-08-09 09:01] DavidDomkar opened #41 "Version 3.5.0 is not on pub.dev"
https://pub.dev/packages/fast_rsa has an old version which causes incompatibility with packages that updated to the new ffi version.

[2022-08-09 14:06] DavidDomkar commented on #41
Yes, I can use latest now. Thank you for a quick resolution.

[2022-08-09 14:06] #41 closed

[2022-11-23 07:26] duocnguyen6799 opened #42 "Failed to load dynamic library '.../librsa_bridge.so'"
My Flutter app distributed on the Google Play store seems to be unable to load a packaged dynamic library on a few Android devices **(less than Android 6.0)**.

**Actual results:**
`
Failed to load dynamic library '/data/data/my_package/lib/librsa_bridge.so': dlopen failed: '/data/data/my_package/lib/librsa_bridge.so' not found
`

**Expected results:**
The library is loaded successfully.

**Flutte

[2022-11-24 10:40] ernestoA92 commented on #42
Same here

[2022-11-30 11:23] jerson commented on #42
Hi @duocnguyen6799 @ernestoA92  thanks for report this issue, im gonna take a look in some weeks